body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    min-height: 100vh;
    gap:80px;
    
    
}

.logo{
    font-size: 60px;
    color: #F9FAF8;
    text-align: center;
    flex: 1;
    font-weight: bolder;
    
}

.links{
    flex: 1;
    display: flex;
    justify-content: end;
    align-items: center;
    
    
    
}

img{
    height: 350px;
    width: auto;
    border-radius: 20px;
}

.header{
    background-color: #1F2937;
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
    padding: 15px;
}

ul{
    list-style-type: none;
    margin: 0;
    display: flex;
    row-gap: 15px;
    flex-wrap: wrap;
    
    
}

li{
    float: left;
    color: #F9FAF8;
    margin: 0 20px;
    padding: 7px 40px;
    font-size: 27px;
    color: #E5E7EB;
    border-style: solid;
    border-radius: 10px;
    border-color: #5c6e86;
    border-width: 4px;
    
}   

#call{
    margin: 0;
    font-size: 30px;
    font-weight: 800;
    
}

#call2{
    margin: 0;
}

.quote{
    padding: 0 60px;
   background-color: #E5E7EB;
   font-size: 23px;
   
   font-family: monospace;
   display: flex;
   justify-content: center;
   
}

.fill{
    flex: 5 1 5px;
}

.inq{
    display: flex;
    flex-direction: column;
    max-width: 900px;
    
}

.rand{
    display: flex;
    flex-direction: column;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    gap: 30px;
   
    
}

.info{
    text-align: center;
    font-size: 45px;
    font-weight: bolder;
}

.illus{
    display: flex;
    justify-content: center;
    gap: 60px;
}

figure{
    text-align: center;
    color: #5c6e86;
    font-size: 25px;
}

#end{
    
    font-weight: bolder;
    
    text-align: end;
    padding-right: 50px;
}

.action{
    display: flex;
    align-self: center;
    background-color: #3882F6;
    padding: 40px 40px;
    border-radius: 10px;
    color: white;
    flex-shrink: 1;
    
}

.action2{
   display:flex;
   justify-content: space-between;
   flex-grow: 1;
   min-width: 60vw;
   align-items: center;
   
}

.act{
    flex-grow: 15;
    text-align: left;
    
}

.sign{
    flex-grow: 6;
    
}

.signbox{
    text-align: center;
    border-style: solid;
    border-radius: 7px;
    border-width: 3px;
    margin: 0 ;
    padding: 10px 20px;
    font-weight: bolder;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.footer{
    background-color: #1F2937;
    color: white;
    text-align: center;
    padding: 30px;
    font-size: large;
    flex-shrink: 0;
    
}